body{
    background-color:yellow ;
}
h1{
    text-align: centre;
}
#show{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
img{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}
.list{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}

@media screen and (max-width:430px) {
    #show{
        grid-template-columns: auto auto;
    }
    img{
        width: 150px;
        height: 200px;
    }
    
}
